* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #e5e5e5;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  padding: 2rem 0;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.8em;
  letter-spacing: 0.03em;
  margin-bottom: 0.7em;
}

h1.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1.main-title img {
  cursor: pointer;
}

section {
  width: 100%;
}

section span.date {
  color: #bdbdbd;
  font-size: 0.75em;
}

.date-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-btn {
  min-width: 220px;
  background: #f5f2f3;
  border-radius: 20px;
  height: 100px;
  padding: 1rem;
  transition: 0.4s transform;
  margin-top: 20px;
  color: #8e4b6e;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.more-btn span {
  margin-right: 1rem;
}

.date-selection .selection {
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

.date-container .items-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  height: 120px;
}

.items-container .item {
  min-width: 220px;
  background: #f5f2f3;
  border-radius: 20px;
  height: 100px;
  padding: 1rem;
  margin-right: 1rem;
  transition: 0.4s transform;
}

.items-container .item.active {
  min-width: 220px;
  background: #8e4b6e;
  border-radius: 20px;
  height: 100px;
  padding: 1rem;
  margin-right: 1rem;
  transform: translateY(-10px);
}

.items-container .item:hover {
  cursor: pointer;
}

.items-container .item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-container .item .info-date span {
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  color: #bdbdbd;
}

.items-container .item .info-date .box {
  background: #8e4b6e;
  color: #ffffff;
  font-size: 12px;
  height: 23px;
  width: 23px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container .item.active .info-date .box {
  background: #ffffff;
  color: #8e4b6e;
  font-size: 12px;
  height: 23px;
  width: 23px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container .item .data .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.items-container .item .data {
  margin-top: 0.8rem;
}

.items-container .item .data .info .title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-bottom: 5px;
}

.items-container .item.active .data .info .title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 5px;
}

.items-container .item .data .info .reason {
  font-size: 10px;
  line-height: 12px;
  color: #bdbdbd;
}

.items-container .item .data .chevron-box {
  background: #ffffff;
  font-size: 12px;
  height: 23px;
  width: 23px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container .item.active .data .chevron-box img {
  width: 15px;
}

.graph-container {
  background: #ffffff;
  border-radius: 9px;
  min-height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.graph-container .footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  z-index: 1;
}

.graph-container .footer span {
  margin-right: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border-radius: 3px;
  padding: 0.4rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-container .footer span.green {
  background: #3a9843;
  color: #fff;
}

.graph-container .footer span.white {
  background: #fff;
  color: #333;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.graph-container .footer span.alarm {
  background: #8e4b6e;
  color: #fff;
}

.graph {
  height: 100%; 
  width: 100%;
  position: absolute;
}

.highcharts-tooltip {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.highcharts-tooltip button {
  background: #6cb25a;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: none;
  outline: none;
  width: 60px;
  height: 20px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
}

.highcharts-tooltip .data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}

.highcharts-tooltip .data .title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}

.highcharts-tooltip .data .date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  margin-top: 3px;
  margin-bottom: 20px;
  color: #a9a9a9;
}

.highcharts-tooltip .data .tooltip-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #a9a9a9;
  margin-bottom: 8px;
}

.highcharts-tooltip .data .tooltip-row.last {
  margin-bottom: 0;
}

.highcharts-tooltip .data .tooltip-row .text {
  margin-left: 10px;
  color: #333333;
}

.wrapper h2 {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.03em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto auto;
  column-gap: 20px;
  row-gap: 5px;
  align-items: center;
}

.grid .groupDate {
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 12px;
    line-height: 15px;
    color: #bdbdbd;
    margin-top: 20px;
}

 .grid .title {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
 }
 .grid .title.enabled{
      position: relative;
 }
 .grid .title.enabled::before{
        content: "";
        position: absolute;
        left: -13px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ea0000;
}

 .grid .status {
    font-weight: 600;
    font-size: 16px;
    color: #bdbdbd;
}

.grid .date {
    font-weight: 600;
    font-size: 14px;
    color: #bdbdbd;
}

.grid .actionButton {
    border: 1px solid #8e4b6e;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(147, 93, 135, 0.2);
    border-radius: 6px;
    padding: 9px 47px;
    font-weight: 600;
    font-size: 12px;
}

.grid .actionButton.enabled {
      background: #8e4b6e;
      color: #fff;
}

.grid .deleteButton {
}


.paginationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.paginationStyle {
    flex: 1;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.paginationStyle  .disabled {
    opacity: 0.6;
}

.xmark {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

.xdiv {
  position: relative;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }

  .more-btn {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
