/* Common  */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.page-feedback {
  padding: 20px 0;
  margin-bottom: 0;
}

/* refill page */

.refill-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  position: relative;
  padding-top: 15px;
}

.refill-item-container .refill-item-label {
  background: rgba(214, 0, 0, 0.11);
  border-radius: 17px;
  padding: 7px 12px;
  color: #ea0000;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.refill-item-container .refill-item-img {
  max-width: 300px;
}

.refill-item-container .refill-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.refill-item-container .refill-item-stock-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  margin-bottom: 20px;
}

.refill-item-stock-container .refill-item-in-stock,
.refill-item-stock-container .refill-item-missing {
  width: 150px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  height: 65px;
  padding: 0 12px;
}

.refill-item-stock-container .refill-item-in-stock {
  background: rgba(87, 87, 87, 0.1);
}

.refill-item-stock-container .refill-item-missing {
  background: rgba(91, 165, 94, 0.1);
}

.refill-item-stock-container .title {
  font-size: 12px;
  line-height: 15px;
}

.refill-item-stock-container .quantity {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.refill-item-stock-container .refill-item-in-stock .title,
.refill-item-stock-container .refill-item-in-stock .quantity {
  color: #575757;
}

.refill-item-stock-container .refill-item-missing .title,
.refill-item-stock-container .refill-item-missing .quantity {
  color: #298a50;
}

.quantity-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.quantity-input-container .quantity-input-label {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 20px;
}

.quantity-input-container .quantity-input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-input-container .quantity-input-content .kg-label {
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin: 0 0 0 10px;
}

.quantity-input-container .quantity-input {
  background: #fafafa;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 9px;
  font-size: 15px;
  line-height: 18px;
  color: #c5c5c5;
  padding-left: 20px;
  height: 50px;
  width: 140px;
}

.quantity-input-container .quantity-input:focus,
.quantity-input-container .quantity-input:active {
  outline: none;
}

.sub-title,
.sub-title-green {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.sub-title-green {
  color: #5ba55e;
}

.btn-submit {
  max-width: 335px;
  background: #3a9943;
  border-radius: 10px;
  color: #fff;
  height: 55px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}

.btn-submit:active,
.btn-submit:focus {
  outline: none;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-container .comment-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  cursor: pointer;
}

@media (max-width: 767px) {
  .refill-item-container .refill-item-img {
    max-width: 245px;
  }
}

@media (max-width: 360px) {
  .refill-item-stock-container .title {
    font-size: 10px;
  }

  .refill-item-stock-container .refill-item-in-stock,
  .refill-item-stock-container .refill-item-missing {
    padding: 0 10px;
    width: 125px;
  }

  .refill-item-container .refill-item-stock-container {
    width: 275px;
  }

  .refill-item-container .refill-item-stock-container {
    justify-content: space-evenly;
  }

  .refill-item-stock-container .quantity {
    font-size: 18px;
  }
}

/* Comment page */

.comment-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
}

.comment-section-container textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  font-size: 15px;
  padding: 12px;
}

.comment-section-container textarea:focus,
.comment-section-container textarea:active {
  outline: none;
}

@media (max-width: 360px) {
  .comment-section-container {
    padding: 0 10px;
  }
}

/* Success page */

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.success-container img {
  margin-bottom: 20px;
}

.success-container .success-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 200px;
  color: #a9a9a9;
}

.success-container h2 {
  width: 275px;
}

.success-container .btn-submit-success {
  max-width: 335px;
  border-radius: 10px;
  height: 55px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border: 1px solid #3a9843;
  color: #3a9843;
  background-color: #fff;
  margin-top: 20px;
}

.btn-submit-success:active,
.btn-submit-success:focus {
  outline: none;
}

@media (max-width: 360px) {
  .success-container .btn-submit-success {
    width: 260px;
  }
}

.component-rating-grade.activeChooice {
  background: #3a9943;
  border: 4.76px solid rgba(0, 106, 48, 0.4);
  color: white;
}

.before-input {
  margin-right: 10px;
}

.quantity-input-container .component-rating-grades {
  margin-top: 30px;
}

.mandatory-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #eb6161;
  margin: 0 0 10px 0;
  justify-content: center;
}

.item-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  margin: 30px 0 0 0;
}
.choice-content {
  width: 200px;
  margin-top: 30px;
}
.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choice-container .choice-img {
  background: #f5f5f5;
  height: 50px;
  width: 50px;
  border-radius: 20px;
}
.choice-img.img-plus {
  background-image: url("../svg/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.choice-img.img-minus {
  background-image: url("../svg/trash-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.active-selection .choice-img.img-minus {
  background: url("../svg/trash-icon-white.svg"), #3a9943;
  background-position: center;
  background-repeat: no-repeat;
  border: 4.35607px solid rgba(0, 106, 48, 0.4);
}
.active-selection .choice-img.img-plus {
  background: url("../svg/plus-icon-white.svg"), #3a9943;
  background-position: center;
  background-repeat: no-repeat;
  border: 4.35607px solid rgba(0, 106, 48, 0.4);
}
.btn-submit.disabled {
  background: #bdbdbd;
}

.hidden {
  display: none;
}

