@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

input[type="email"],
input[type="password"],
input[type="text"],
select:focus,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.page {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.page-feedback {
  max-width: 980px;
  margin-bottom: 30px;
}

header {
  display: flex;
  align-items: center;
  max-width: 980px;

  margin: 0 auto;
  padding: 30px 10px;
}

header .component-logo {
  height: 40px;
}

header .component-paging {
  margin-left: auto;
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  header .component-paging {
    margin-top: 15px;
    margin-left: 0;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  font-weight: 600;
  color: #1a8136;
  text-align: center;
  margin: 20px 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.component-paging-page {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #e2e2e2;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 15px;
}

.component-paging-page.active {
  background-color: #298a50;
}

/* Feedback component */
.component-feedback {
}

.component-feedback-content {
  max-width: 790px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
}

/* Rating component */
.component-rating {
}

.component-rating-content {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0 60px 0;
}

.component-rating-grades {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.component-rating-grade {
  width: 55px;
  height: 55px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

.component-rating-grade.active {
  background: #3a9943;
  border: 4.76px solid rgba(0, 106, 48, 0.4);
  color: white;
}

.component-rating-grade.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: url(https://graph-application-public.gitlab.io/nps-assets/svg/checkmark.svg) no-repeat
    0 0;
  background-size: 20px 20px;
}

@media (max-width: 767px) {
  .component-rating-content {
    padding: 30px 0;
  }
  .component-rating-grade {
    margin: 2px;
  }
  .component-rating-grade.active::after {
    display: none;
  }

  .component-rating-grades::after {
    content: "";
    flex: 0 0 100%;
    height: 0;
  }

  .component-rating-grade:nth-child(6),
  .component-rating-grade:nth-child(7),
  .component-rating-grade:nth-child(8),
  .component-rating-grade:nth-child(9),
  .component-rating-grade:nth-child(10),
  .component-rating-grade:nth-child(11) {
    order: 1;
  }
  .component-rating-label {
    display: none;
  }
}

@media (max-width: 360px) {
  .component-rating-grade {
    width: 45px;
    height: 45px;
    border-radius: 20px;
  }
}

.component-rating-label {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
}

.component-rating-label-min {
  left: 0;
}

.component-rating-label-max {
  right: 0;
}

.component-rating-grade input {
  display: none;
}

/* Textarea component */
.component-textarea {
}

.component-textarea-label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
}

.component-textarea-input {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 9px;
  font-size: 16px;
  line-height: 18px;
  min-height: 100px;
}

/* Actions component */
.component-actions {
}

.component-actions-content {
  max-width: 790px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
}

/* BUttons */
.button {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.button-submit {
  background: #3a9943;
  color: white;
  border-radius: 10px;
}

.component-feedback-intro-content,
.component-feedback-completed-content {
  padding: 30px 10px;
}

.component-feedback-intro-content p,
.component-feedback-completed-content p {
  text-align: center;
}

.component-feedback-completed-content h2 {
  position: relative;
  padding-top: 65px;
}

.component-feedback-completed-content h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 66px;
  height: 50px;
  background: url(https://graph-application-public.gitlab.io/nps-assets/svg/checkmark.svg) no-repeat
    0 0;
  background-size: 66px 50px;
}

.hidden {
  display: none;
}